*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: darkgray;
}

input {
  display: none;
}

.swiper {
  margin: 6.25rem auto;
  max-width: 50%;
  border: 0.0625rem solid #fff;
}

.swiper__container {
  overflow: hidden;
  width: 100%;
}

.swiper__track {
  transition: all 0.3s ease;
  width: 400%;
  display: flex;
  flex-wrap: nowrap;
  max-height: 31.25rem;
}

.slide {
  width: 25%;
}

.slide img {
  max-width: 100%;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 1.25rem;
}

.bullets {
  display: inline-flex;
  align-items: flex-start;
}

.bullet-wrap {
  cursor: pointer;
  padding: 1.25rem;
}

.bullet-wrap .dot {
  transition: 0.3s;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: black;
  border: 0.0625rem solid darkblue;
  padding: 0.625rem;
}

.bullet-wrap:hover .dot {
  background-color: blue;
  border-color: rgb(29, 38, 54);
}

#slide1:checked ~ .swiper__container .bullets label:nth-child(1) .dot,
#slide2:checked ~ .swiper__container .bullets label:nth-child(2) .dot,
#slide3:checked ~ .swiper__container .bullets label:nth-child(3) .dot,
#slide4:checked ~ .swiper__container .bullets label:nth-child(4) .dot {
  background-color: white;
  transition: all 0.3s ease;
}

#slide1:checked:hover ~ .swiper__container .bullets label:nth-child(1) .dot,
#slide2:checked:hover ~ .swiper__container .bullets label:nth-child(2) .dot,
#slide3:checked:hover ~ .swiper__container .bullets label:nth-child(3) .dot,
#slide4:checked:hover ~ .swiper__container .bullets label:nth-child(4) .dot {
  background-color: transparent;
  transition: 0.3s;
}

#slide1:checked ~ .swiper__container .swiper__track {
  margin-left: 0;
}

#slide2:checked ~ .swiper__container .swiper__track {
  margin-left: -100%;
}

#slide3:checked ~ .swiper__container .swiper__track {
  margin-left: -200%;
}

#slide4:checked ~ .swiper__container .swiper__track {
  margin-left: -300%;
}

.text {
  font-size: 1.25rem;
}

.text__slide1,
.text__slide2,
.text__slide3,
.text__slide4 {
  line-height: 0;
  opacity: 0;
  z-index: 3;
}

#slide1:checked ~ .swiper__container .text div:nth-child(1),
#slide2:checked ~ .swiper__container .text div:nth-child(2),
#slide3:checked ~ .swiper__container .text div:nth-child(3),
#slide4:checked ~ .swiper__container .text div:nth-child(4) {
  line-height: 1;
  opacity: 1;
  transition: 0.4s;
}

@media (max-width: 62.4375rem) {
  .swiper {
    max-width: 43.75rem;
  }
}
